@font-face {
    font-family: "robotomedium";
    src: url(/khatiaEBurdulihomework/font/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
     font-family: "robotomedium";
     background-color: #FFFFFF;
}

.gallery-section{
    color:#000000 ;
    margin-left: 120px;
    margin-top: 103px;
    padding: 20px;
    margin-right: 123px;
}

h2{
    margin-bottom: 69px;
        font-size: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 180px;
    gap: 23px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span 2;
}
