@font-face {
  font-family: "roboto";
  src: url(/khatiaEBurdulihomework/font/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'roboto';
  background-color:#FFFFFF ;

}
.gallery-section{
  color:#000000 ;
  margin-bottom: 69px;
  margin-top: 209px;
  margin-left:120px ;
}
 

.gallery-section h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.gallery {
  display: grid;
  color:#C4C4C4 ;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr;
  column-gap : 23px;
  row-gap: 25px;

}
.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}