@font-face {
    font-family: "robotoextralight";
    src: url(/khatiaEBurdulihomework/font/Roboto-ExtraLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: "robotoextralight";
    width: 100vw;
    height: 100vh;
}

.gallery-section {
    margin: 120px 209px;
}

.title {
    font-size: 50px;
    margin-bottom: 69px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 24px;
    column-gap: 23px;
    grid-template-areas: 
    "a b . c"
    ". d e .";
}

.img-1 { grid-area: a;}
.img-3 { grid-area: b;}
.img-5 { grid-area: c;}
.img-7 { grid-area: d;}
.img-8 { grid-area: e;}

.gallery-grid img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
 
