@font-face {
    font-family: "robotothin";
    src: url(/khatiaEBurdulihomework/font/Roboto-Thin.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: "robotothin";
}


.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto); 
    gap: 24px;
    padding: 50px;
}


.text {
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
    align-self: center;
}



.item-1 { grid-column: 3 / 4; grid-row: 2 / 3; }
.item-2 { grid-column: 4 / 5; grid-row: 1 / 2; }
.item-3 { grid-column: 5 / 6; grid-row: 2 / 3; } 

.item-4 { grid-column: 2 / 3; grid-row: 3 / 4; } 
.item-5 { grid-column: 4 / 5; grid-row: 3 / 4; } 

.item-6 { grid-column: 1 / 2; grid-row: 4 / 5; } 
.item-7 { grid-column: 3 / 4; grid-row: 4 / 5; } 
.item-8 { grid-column: 5 / 6; grid-row: 4 / 5; } 


.line {
    grid-column: 3 / 4;
    grid-row: 1 / 6;
    border-left: 1px solid black;
    height: 100%;
    justify-self: center; 
}


.img img {
    width: 100%;
    height: auto; 
    display: block;
    object-fit: cover;
    margin-top: 69px; margin-right: 15px;
    margin-bottom: 77px;
    }

.text h1 {
  font-size: 50px;
  font-weight: 100;
  color: #000000;
  margin-top: 131px;
  margin-left: 120px;
}
.text p {
  margin-top: 20px;
  letter-spacing: 2px;
  margin-left: 99px;
}
